<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración General</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manageUsers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    
    <a href="/catalogo" class="back-btn"> 
        ←
    </a>


    <!-- Contenedor principal -->
    <div class="admin-main-container" style="flex-direction: column; justify-content: center; align-items: center;">
        <h2 style="font-size: 40px; font-family: 'Roboto Condensed', sans-serif; color:#eee">¿Qué deseas gestionar?</h2>
        
        <div class="admin-grid">
            <!-- Tarjeta 1: Usuarios -->
            <a href="/gestionUsuarios" class="admin-card users">
                <div class="icon">👥</div>
                <h3>Gestión de Usuarios</h3>
                <p>Acepta, rechaza o elimina el acceso de los miembros a la plataforma.</p>
            </a>
            
            <!-- Tarjeta 3: Gestionar Coches -->
            <a href="/manage_cars" class="admin-card manage-cars">
                <div class="icon">🛠️</div>
                <h3>Gestionar Coches</h3>
                <p>Edita la información, actualiza precios o elimina vehículos existentes.</p>
            </a>
        </div>
    </div>
</body>
</html>
