<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo - Anticongelantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
<div class="nav-header">
    {% if usuario and usuario.Estado == 'Admin' %}
        <button class="btn" style="padding:8px 15px; margin-right:10px; background: linear-gradient(135deg,#28a745,#a8e6b5,#53c16a,#eefaf0);" onclick="window.location.href='/admin_panel'">
                PANEL ADMIN
        </button>

    {% endif %}

    {% if usuario and usuario.Estado != 'Admin' %}
        <button class="btn" style="background:#1a1a1a; border: 1px solid #ff4d4d; padding:7px 15px; width: 70px; border-radius:10px; color:white; text-decoration:none; font-weight:bold; margin-right:10px;" onclick="window.location.href='{{ url_for('catalogo.mis_favoritos') }}'">
        ♥️
        </button>
        
        <button class="btn" style="padding:8px 15px; margin-right:10px;" onclick="window.location.href='/modificarDatos'">
                MODIFICAR DATOS
        </button>
    {% endif %}

    <span>Bienvenido, <strong>{{ usuario.Nombre }}</strong></span> |
    <a href="/logout" style="color:#ff4d4d; text-decoration:none; font-weight:bold; margin-left:10px;">Cerrar Sesión</a>
</div>

<div class="main-wrapper">
    <h1 class="titulo-catalogo">Catálogo de Vehículos</h1>

    <div class="catalogo-container">
        {% for coche in coches %}
        <div class="car-card">
            <img src="{{ url_for('static', filename=coche['imagen']) }}"
                 class="car-img"
                 onerror="this.src='/static/fondo.jpg'">

            <h2 title="{{ coche['marca'] }}">{{ coche['marca'] }}</h2>
            <p title="{{ coche['modelo'] }}">{{ coche['modelo'] }}</p>

            <div class="car-price">{{ "{:,.0f}".format(coche['precio']) | replace(',', '.') }} €</div>
            <div class="car-info">{{ coche['kilometraje'] }} KM</div>

            <button class="btn" style="width:100%; font-weight:bold;"
                onclick="window.location.href='/detalles/{{ coche['idCoche'] }}'">
                VER DETALLES
            </button>
            {% if usuario and usuario.Estado != 'Admin' %}
            <form action="{{ url_for('catalogo.añadir_a_favoritos', id_coche=coche['idCoche']) }}" method="POST">
                <button type="submit" class="btn" style="width:100%; font-weight:bold; margin-top:10px; background: transparent; border: 1px solid #ff4d4d; color: #ff4d4d;">
                    GUARDAR FAVORITO
                </button>
            </form>
            {% endif %}

            {% if usuario and usuario.Estado == 'Admin' %}
            <button class="btn" style="background:#ff4d4d; margin-top:10px; width:100%; font-weight:bold;"
                onclick="if(confirm('¿Seguro que quieres eliminar este coche?')) window.location.href='/delete_car/{{ coche['idCoche'] }}'">
                ELIMINAR
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
