<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles - {{ coche.marca }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <a href="/catalogo" class="back-btn">← </a>
    <div class="detalles-container">
        <div class="info-card">
            <img src="{{ url_for('static', filename=coche.imagen) }}" class="foto-detalle" onerror="this.src='/static/fondo.jpg'">

            <div class="datos-tecnicos">
                
                <h1>{{ coche.marca }}</h1>
                <p class="precio-grande">{{ "{:,.0f}".format(coche.precio) | replace(',', '.') }} €</p>
                <ul style="list-style: none; padding: 0; line-height: 2;">
                    <li><strong>KM:</strong> {{ coche.kilometraje }}</li>
                    <li><strong>Garantía:</strong> 24 meses Premium</li>
                </ul>
                <button class="btn-contactar" onclick="abrirModal()">CONTACTAR ASESOR</button>
            </div>
        </div>
    </div>

    <div id="modalContacto" class="modal-overlay">
        <div class="modal-content">
            <h3 style="color: #00ff88">CONTACTO</h3>
            <p style="font-size: 20px; margin: 15px 0;">📞 +34 622 45 81 90</p>
            <p style="opacity: 0.8">info@anticongelantes.es</p>
            <button class="btn" onclick="cerrarModal()" style="background: #ff4d4d; margin-top: 20px; padding: 10px 20px;">CERRAR</button>
        </div>
    </div>

    <script>
        function abrirModal() { document.getElementById('modalContacto').style.display = 'flex'; }
        function cerrarModal() { document.getElementById('modalContacto').style.display = 'none'; }
    </script>
</body>
</html>
