<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Coches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background cars-page">
    
    <a href="/admin_panel" class="back-btn">
            ←
    </a>
        
    <div class="cars-container"> 
    <a href="/add_car" class="btn add-btn">
        + AÑADIR NUEVO COCHE
    </a>

    {% for coche in coches %}
    <div class="car-row">
        
        <div class="car-left">

            <!-- Imagen -->
            <img class="car-img" 
                 src="{{ url_for('static', filename=coche.imagen) }}" 
                 alt="Coche"
                 onerror="this.src='/static/fondo.jpg'">

            <!-- Info -->
            <div class="car-info">
                <p class="car-title">{{ coche.marca }} {{ coche.modelo }}</p>
                <p class="car-details">
                    ID: {{ coche.idCoche }} | 
                    {{ coche.kilometraje }} km | 
                    {{ "{:,.0f}".format(coche.precio) | replace(',', '.') }} €
                </p>
            </div>

        </div>

        <!-- Botones -->
        <div class="car-actions">
            <a href="/edit_car/{{ coche.idCoche }}" class="btn">
                EDITAR
            </a>

            <button class="btn" style="background: linear-gradient(135deg, #dc3545, #f5a3a9, #e4606d, #fdecec);"
                onclick="if(confirm('¿Seguro que quieres eliminar este coche?')) window.location.href='/delete_car/{{ coche.idCoche }}'">
                ELIMINAR
            </button>
        </div>

    </div>
    {% endfor %}
</div>
</body>
</html>
