<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Favoritos - Anticongelantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
<a href="/catalogo" class="back-btn"> 
        ←
    </a>

<div class="nav-header">
    {% if usuario and usuario.Estado != 'Admin' %}

        <button class="btn" style="padding:8px 15px; margin-right:10px;" onclick="window.location.href='/modificarDatos'">
                MODIFICAR DATOS
        </button>
    {% endif %}

    <span>Bienvenido, <strong>{{ usuario.Nombre }}</strong></span> |
    <a href="/logout" style="color:#ff4d4d; text-decoration:none; font-weight:bold; margin-left:10px;">Cerrar Sesión</a>
</div>

<div class="main-wrapper">
    <h1 class="titulo-catalogo">Mis Favoritos</h1>

    <div class="catalogo-container">
        {% for coche in coches %}
        <div class="car-card">
            <img src="{{ url_for('static', filename=coche['imagen']) }}"
                 class="car-img"
                 onerror="this.src='/static/fondo.jpg'">

            <h2 title="{{ coche['marca'] }}">{{ coche['marca'] }}</h2>
            <p title="{{ coche['modelo'] }}">{{ coche['modelo'] }}</p>

            <div class="car-price">{{ "{:,.0f}".format(coche['precio']) | replace(',', '.') }} €</div>
            <div class="car-info">{{ coche['kilometraje'] }} KM</div>

            <button class="btn" onclick="window.location.href='/detalles/{{ coche['idCoche'] }}'">
                VER DETALLES
            </button>
            <form action="{{ url_for('catalogo.quitar_de_favoritos', id_coche=coche['idCoche']) }}" method="POST" style="display: flex; flex-direction: column; align-items: center;animation: fadeIn 0.8s ease;">
                <button type="submit" class="btn" style="width:100%; font-weight:bold; margin-top:10px; background: transparent; border: 1px solid #ff4d4d; color: #ff4d4d;"> QUITAR DE FAVORITOS</button>
            </form>
            </div>
        {% else %}
            <div style="color: white; font-size: 20px; margin-top: 50px;">
                Aún no has guardado ningún vehículo en tus favoritos.
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
