<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Datos Admin </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <a href="/gestionUsuarios" class="back-btn">
            ←
    </a>

    <div class="Cuerpo"> 
      <h1>MODIFICAR DATOS</h1>
      {% for category, mensaje in mensajes %}
          <label class="message {{ category }}">{{ mensaje }}</label>
      {% endfor %}
      <form action="/modificarDatosAdmin?id={{ usuario.IDUsuario }}" method="POST" style="gap: 25px;padding: 60px 80px;background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(12px);border-radius: 20px; box-shadow: 0 20px 50px rgba(0,0,0,0.6);">
              <input type="email" id="email" name="email" placeholder="CORREO ELECTRÓNICO" value="{{ usuario.Email }}" required>
              <input type="password" id="password" name="password" placeholder="CONTRASEÑA NUEVA">
              <button type="submit" class="btn">CONFIRMAR</button>
      </form>
  </div>
</body>
</html>
